body {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}


#canvas {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
    background-color: #161616;
    border-radius: 2vmin;
}

#score-board {
    display: flex;
    flex-direction: column;
}

#score {
    display: flex;
    justify-content: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 2vmin;
    border-color: #161616;
}